@primary-color: #054a37;
@secondary-color: #96ac47;
/*
FUNÇÕES PADRÕES START
*********************************************************************/
.border-radius(@style) {
    -webkit-border-radius: @style;
    -moz-border-radius: @style;
    border-radius: @style;
}
.box-shadow(@style, @c) when (iscolor(@c)) {
    -webkit-box-shadow: @style @c;
    box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
    .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.clear, .first{
    clear:both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
::selection {background-color: @primary-color;color: #FFF;}
::-moz-selection {background-color: @primary-color;color: #FFF;}
small {display: inline-block;line-height: 1.1;}
textarea {resize:vertical;}
a {transition: all 0.25s ease 0s;}
/*
FONTS START
**********************************************************************************************/
.navbar {font-family: 'robotoregular', Arial, sans-serif;}
.box, .navbar .nav > li.current-menu-item > a, .navbar .sub-menu {font-family: 'robotobold', Arial, sans-serif;}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
.extra-header {
    background: @primary-color url(images/bg-header.jpg) no-repeat center top;position: relative;
    .container {}
    .menu-principal-container {padding-top:19px;}
    .navbar-brand {height: 114px;padding-top:16px;padding-bottom: 16px;}
    .navbar {
        margin-bottom: 0;border: 0;
        .nav {
            > li {
                > a {font-size: 16px;text-transform: uppercase;-webkit-border-radius: 3px 3px 0px 0px;-moz-border-radius: 3px 3px 0px 0px;-ms-border-radius: 3px 3px 0px 0px;-o-border-radius: 3px 3px 0px 0px;border-radius: 3px 3px 0px 0px;}
                .sub-menu {
                    position: absolute;left: 50%;font-size: 16px;text-align: center;z-index: 1010;
                    > li {
                        float: left;
                        > a {display: block;padding: 8px 10px;color: #FFF;}
                        &.current-menu-item {
                            a {color: @primary-color;}
                        }
                        * {white-space: nowrap;}
                    }
                }
                &.current-menu-item {
                    > a {background: @secondary-color url(images/bg-menu-active.gif) repeat-x bottom;color: #FFF;}
                }
            }
        }
    }
    .social-header {
        width: 96px;text-align: center;margin-left: 15px;
        > a {display: inline-block;padding:5px;min-width: 47%;}
    }
}
.site-header-bottom {background: @secondary-color;position: absolute;left: 0;right: 0;height: 10px;top: 100%;}
.site-content {min-height: 300px;}

.extra-boxs {
    .site-boxs {
        .lista-box {
            margin: 0 -0.1%;
            .box {
                position: relative;float: left;margin: 0 0.1%;width: 24%;background: @primary-color;overflow: hidden;
                &, a {height: 250px;}
                a {color: #FFF;display: block;}
                .imagem, .icone, .content {display: block;}
                .imagem {position: relative;z-index: 1;}
                .icone {position: absolute;z-index: 3;right: 0;top: 0;bottom: 0;width: 86px;background: url(images/bg-box-right.png) no-repeat right bottom;}
                .content {position:absolute;z-index: 2;bottom: 0;right: 0;left: 0; font-size: 18px;line-height: 1;background: url(images/bg-box-bottom.png) no-repeat left top;width: 100%;height: 61px;padding:10px 90px 0 42px;letter-spacing: -1px;text-align: right;}
            }
        }
    }
}

.extra-footer {
    .site-footer {
        > .container {padding-top:20px;padding-bottom: 20px;}
    }
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'], [class^='lista-'], [class^='menu-'], [class^='menu-'] ul, .cycle-slideshow {list-style:none;margin-bottom:0;padding-left:0;}
.btn-gray {background: #EEE;color:#C93F2A;}
.btn-rounded {-webkit-border-radius: 150px;-moz-border-radius: 150px;border-radius: 150px;}

.imagem {display: inline-block;overflow: hidden;max-width: 100%;}
.imagem-rounded {-webkit-border-radius: 150px;-moz-border-radius: 150px;border-radius: 150px;}
.inline-block {display:inline-block;}
[class^='icon-'], [class*='icon-'] {background-repeat:no-repeat;vertical-align:middle;display:inline-block;background-image:url(images/icon.png);}

.page-header {border-bottom: 0;margin-bottom: 0;}

.space {width:1%;display:inline-block;height:100%;vertical-align:middle;}
.relative {position: relative;}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/

/**********************************************************************************************
JQUERY UI END
*/
@media print {

}
@media (max-width: 767px) {
   /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
   /*#GERAL:before {content:"MOBILE";}*/
}
@media (min-width: 768px) and (max-width: 980px) {
    .extra-boxs {
        .site-boxs {
            .lista-box {
                .box {
                    .content {font-size: 16px;}
                }
            }
        }
    }
}
@media (min-width: 981px) and (max-width: 1200px) {
   /*#GERAL:before {content:"ACIMA DE TABLET";}*/
    .extra-boxs {
        .site-boxs {
            .lista-box {
                .box {
                    .content {font-size: 14px;letter-spacing: normal;line-height: .9;}
                }
            }
        }
    }
}