.icon{ background:url("icon.png") top left no-repeat; }
.icon-agenda{ width:49px; height:49px; background-position:-1px -1px; }
.icon-balao{ width:47px; height:47px; background-position:-1px -51px; }
.icon-audio{ width:39px; height:42px; background-position:-1px -99px; }
.icon-video{ width:39px; height:41px; background-position:-1px -142px; }
.icon-arrow-right-white{ width:35px; height:40px; background-position:-1px -184px; }
.icon-arrow-left-white{ width:35px; height:40px; background-position:-1px -225px; }
.icon-facebook{ width:20px; height:32px; background-position:-1px -266px; }
.icon-instagram{ width:30px; height:30px; background-position:-1px -299px; }
.icon-youtube{ width:35px; height:26px; background-position:-1px -330px; }
.icon-arrow-right{ width:21px; height:24px; background-position:-22px -266px; }
.icon-arrow-left{ width:22px; height:24px; background-position:-1px -357px; }
.icon-mail{ width:33px; height:23px; background-position:-1px -382px; }

